body {
  background-color: #FF7353
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TitleCard */
.centered {
  height: 100%;
  width: 100%;
  opacity: 0;
}

.card {
  width: 35em;
  top: 50%;
  left: 50%;
  margin: auto;
  padding-top: 2em;
}

.card-title {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  vertical-align: middle;
  line-height: 7vh;
  color: #3B01E2;
}

.card-text {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 20%;
  text-align: center;
  vertical-align: middle;
  line-height: 3.7vh;
  color: #ffffff;
}

/* https://codepen.io/valentingalmand/pen/MYMZZK */
.button-container {
  text-align: center;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 30vh;
  border-radius: 40px;
  background: #ffffff;
  border: 0px solid #ffffff;
  color: #3B01E2;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  color: white;
  background: #3B01E2;
}

/* TotalSwipes */
.total-text {
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  color: #CB1581;
  font-size: 8vh;
  font-weight: bold;
}

.total-content {
  margin: auto;
  width: 50%;
}

.transition-1 {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  animation: color-animation-1 linear 1s;
  animation-fill-mode: forwards;
}

@keyframes color-animation-1 {
  0%{background-color: #FF7353}
  100%{background-color: #A5FFEF}
}

/* Next */
/* https://codepen.io/TotallyCurious/pen/RJOawN */
ul {
  text-align: center;
  position: fixed;
  bottom: 0;
  transform: translate(-70%, 20%);
  margin: 0 auto;
  left: 50%;
}

li {
  position: static;
  list-style: none;
  margin: 10px;
  padding: 10px;
  display: flex;
}

#down{
  flex-direction: column;
  padding: 0px 80px 60px 80px;
}

.deh{
  width: 2vh;
  height: 2vh;
  box-shadow: 6px 6px #3498DB;
  transform: rotate(45deg);
  border-radius: 2px;
  cursor: pointer;
}

.m1 {
  animation: ani3 2.5s steps(5, start) infinite;
  -webkit-animation: ani3 2.5s steps(5, start) infinite;
}
.m2 {
  animation: ani2 2.5s steps(5, start) infinite;
  -webkit-animation: ani2 2.5s steps(5, start) infinite;
}
.m3 {
  animation: ani1 2.5s steps(5, start) infinite;
  -webkit-animation: ani1 2.5s steps(5, start) infinite;
}
@keyframes ani1 {
   0% {opacity: 0.1;}
  11% {opacity: 0.1;}
  22% {opacity: 0.1;}
  33% {opacity: 0.15;}
  44% {opacity: 0.25;}
  55% {opacity: 0.5;}
  66% {opacity: 1;}
  77% {opacity: 0.5;}
  88% {opacity: 0.25;}
  100% {opacity: 0.15;}
}
@keyframes ani2 {
   0% {opacity: 0.1;}
  11% {opacity: 0.15;}
  22% {opacity: 0.25;}
  33% {opacity: 0.5;}
  44% {opacity: 1;}
  55% {opacity: 0.5;}
  66% {opacity: 0.25;}
  77% {opacity: 0.15;}
  88% {opacity: 0.1;}
  100% {opacity: 0.1;}
}
@keyframes ani3 {
   0% {opacity: 0.25;}
  11% {opacity: 0.5;}
  22% {opacity: 1;}
  33% {opacity: 0.5;}
  44% {opacity :0.25;}
  55% {opacity: 0.15;}
  66% {opacity: 0.1;}
  77% {opacity: 0.1;}
  88% {opacity: 0.1;}
  100% {opacity: 0.15;}
}

/* TotalMatches */
.transition-2 {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  animation: color-animation-2 linear 1s;
  animation-fill-mode: forwards;
}

@keyframes color-animation-2 {
  0%{background-color: #A5FFEF}
  100%{background-color: #CB1582}
}

.matches-text {
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  color: #A5FFEF;
  font-size: 8vh;
  font-weight: bold;
}